
body {

  margin: 0;

}

.CONTACT {

  background-color:  #1cc5dc;;
  height: auto;
  width: auto;


}

.PARA{

  body {

  margin: 0;

}

.CONTACT {

  background-color:  #1cc5dc;;
  height: auto;
  width: auto;


}

.PARA{
  
  object-fit: contain;
  margin-top: auto;
  text-align: center;
  

}



