
body {

  margin: 0;
  background-color: #1cc5dc;

}

.CONTACT {


  height: auto;
  width: auto;
  margin: 40%;


}

.PARA{
  margin: auto;
  text-align: center;
  

}





